h1,h2,h3,h4,h5,h6{margin:0;}
.container{
	width:1000px;
	height:890px;
	margin:0 auto;
	box-shadow: 0 0 12px grey inset;
	border-radius:12px;
	position:relative;
	overflow:hidden;
}

.container .main {
	position:relative;
	width:80%;
	height:80%;
	background:rgba(206, 203, 197, 0.8);
	box-shadow:0 0 300px grey;
	top:30%;
	margin:0 auto;
	border-radius:50px;
}

.container .main > img{
	position:absolute;
	width:100px;
	height:87.33px;
	top:-118px;
	left:46%;
	transition:all 1s cubic-bezier(.74,-0.58,.28,.89);
}
.container .main > img:hover{
	transform:matrix(1,0,0,1,0,-30);
}


.container .main > div{
	position:relative;
	width:100%;
	height:300px;
	border-radius:50px;
	background:rgba(255,255,255,.3);
	margin:15px auto;


}
.car-msg{
	width:100%;
	height:30px;
	position:relative;
	top:20px;
}
.car-msg p{
	float:left;
	font-size:18px;
	font-weight:bolder;
	margin-top:0;
	margin-bottom:0;
	margin-left:60px;

}
.car-msg span{
	float:right;
	font-size:18px;
	font-weight:bolder;
	margin-right:60px;

}
.car-img{
	width:100%;
	height:118px;
	margin-top:80px;
}
.car-img > img{
	margin-left:50px;
}

.car-content {
	width:350px;
	height:118px;
	float:right;
}

/*点击上拉展开所有*/
.popup{
	
}



